<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/api/signup" method="POST">
        <div class="signup">
            <h1>Sign Up</h1>
            <input type="text" placeholder="account" name="account" />
            <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
            />
            <p>Or <a href="/login">login</a></p>
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <style>
        .signup {
            padding: 15px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        input {
            margin-top: 10px;
        }
        p {
            margin-top: 10px;
        }
        button {
            margin-top: 10px;
            padding: 2px 5px;
            border-radius: 8px;
            cursor: pointer;
        }
    </style>
</body>
</html>